body{
    background-color: #aacf43;
    
    /* background-image: url('background.gif'); */
}

form{
    width: 150px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    
}
/* contactus */
#btn{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}
#td btn{
    text-align: center;
}
div{
    
}
/* home */
article{
    font-size: xx-large ;
    width:245px;
    position: relative;
    left: 700px;
    bottom: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
details #summery{
    color: black;
}
h1{
    color: black;
}
article #p{
    font-size: 30px ;
}
nav{
    position: relative;
  width: 500px;
  bottom: 180px;

}
/* aboutus */
#dish{
    position: relative;
    
}
body{
  
}
p{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: red;
    font-variant: small-caps;
}   
